@charset "utf-8";
/* CSS Document */
.nova-round-regular {
  font-family: "Nova Round", system-ui;
  font-weight: 400;
  font-style: normal;
}
*{
	margin:0;
}

body {
	background-image: url("img/Adobe Gradient.jpeg"); /*the image used*/
	background-color: #8A697E; /*used if image is unavailable*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;}

header {
	display:flex;
	position: sticky;
	height: 85px;
	margin: 20px 40px;
	padding: 0px;
	justify-content: center;}
.logo {
	flex: 0 1 56%;
	background-color: #3D2A48;
	padding: 5px;}
.logo h1 {
	color: white; 
	font-family: "megrim", "sans-serif";
	font-weight: 400;
	font-size: 65px;
	text-align: left;
	margin-left: 25px;}
nav {
	display:flex;
	flex: 0 1 32%;
	flex-direction: row;
	background-color: rgba(255,240,253,0.30);
	justify-content:center;
	align-items: center;}
nav h3 {
	color: white;
	font-family: "Nova Round", system-ui;
  	font-weight: 400;
	font-size: 17px;
  	font-style: normal;
	height: 30px;
	width: 100px;
	background-color: #3D2A48;
	margin: 5px; 	
	padding-top: 10px;
	border-radius: 4px;
	text-align: center;}
.menu-om {
	margin-left: 20px;}
.menu-kontakt {
	margin-right: 20px;}

	

@media screen and (max-width: 900px){

header {
	display:flex;
	flex-wrap: wrap;}
.logo {
	flex: 1 1 100%;}
.logo h1 {
	text-align: center;}	
nav {
	flex: 1 1 100%;
	height: 85px;}
nav h3 {
	height: 30px;
	width: 120px;}
}

@media screen and (max-width: 700px){
	
header {
	margin: 20px;}
}